*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
}

.to_do_list{
    width:500px;
    margin:50px auto;
    background:#EA7B7B;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px black;
}

.img_box{
    display:flex;
    align-items:center;
    gap:20px;
}

.img_box img{
    width:60px;
    border-radius:10px;
}

.img_box h2{
    color:white;
}

.search-box{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.search-box input{
    width:75%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
}

.search-box button{
    width:20%;
    border:none;
    background:#AA2B1D;
    color:white;
    border-radius:10px;
    cursor:pointer;
}




.task-item li{
    list-style:none;
    color:black;
}


.tasklist{
    margin-top:20px;
    padding:0;
}

.task-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style:none;
    background:white;
    padding:10px 15px;
    margin:15px 20px;
    border-radius:10px;
}

.delete-icon{
    width:30px !important;
    height:30px;
    cursor:pointer;
}